.previeuw {
    width: 100%;
    height: 100vh;
    position: relative;
    & .previeuwNav {
        width: 100%;
        background-color: #633CFF;
        border-radius: 0 0 20px 20px;
        height: 40%;
        display: flex;
        align-items: center;
        flex-direction: column;
        & .previeuwButtons {
            display: flex;
            justify-content: space-between;
            width: 85%;
            align-items: center;
            margin-top: 20px;
            border-radius: 20px;
            background-color: white;
            padding: 16px 24px;
            & .leftButton {
                border-radius: 8px;
                border: 1px solid  #633CFF;
                background-color: white;
                padding: 10px 17px;
                margin-right: 30px;
                &:hover {
                    cursor: pointer;
                    background-color: #EFEBFF;
                }
                & p {
                    margin: 0 0;
                    color: #633CFF;
                }
            }
            & .rightButton {
                border-radius: 8px;
                background-color: #633CFF;   
                height: 24px;        
                color: white; 
                padding: 10px 27px;
                &:hover {
                    cursor: pointer;
                    box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
                    background-color: #BEADFF;
                }
            }
        }
    }
    & .previeuwPhone {
        margin-top: 50px;
        width: 17.5%;
        height: auto;
        padding: 20px 0;
        background-color: white;
        border-radius: 20px;
        z-index: 1;
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%); 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.linksInThePrevieuwPhone {
    width: 75%;
    & div {
        background-color: #EEE;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        width: 100%!important;
        height: 54px!important;
        margin: 15px 0!important;
    }
}

.popContainerPrevieuw {
    width: 104px;
    height: 104px;
    border-radius: 96px;
    border: 4px solid  #633CFF;
}

//share link

.shareLink {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    background-color: #333;
    position: absolute;
    border-radius: 12px;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.10);
    //top: 90%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 2;
    & p {
        color: #FAFAFA;
        margin: 0 10px 0 0;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; 
    }
}

.shareLinkActive {
    opacity: 1;
    translate: (-50%, -90%);
}

.shareLinkDisable {
    opacity: 0;
    translate: (-50%, 0);
}

@media (max-width: 3000px) {
    .previeuw {
           & .previeuwPhone {
            width: 14%;
           } 
    }
}

@media (max-width: 2600px) {
    .previeuw {
        & .previeuwPhone {
         width: 15%;
        } 
     
 }
}

@media (max-width: 2300px) {
    .previeuw {
           & .previeuwPhone {
            width: 16%;
           } 
        
    }
}

@media (max-width: 2050px) {
    .previeuw {
           & .previeuwPhone {
            width: 18%;
           } 
        
    }
}

@media (max-width: 1850px) {
    .previeuw {
           & .previeuwPhone {
            width: 20%;
           } 
        
    }
}

@media (max-width: 1650px) {
    .previeuw {
           & .previeuwPhone {
            width: 22%;
           } 
        
    }
}

@media (max-width: 1450px) {
    .previeuw {
           & .previeuwPhone {
            width: 25%;
           } 
        
    }
}

@media (max-width: 1250px) {
    .previeuw {
           & .previeuwPhone {
            width: 28%;
           } 
        
    }
}

@media (max-width: 1150px) {
    .previeuw {
           & .previeuwPhone {
            width: 31%;
           } 
        
    }
}


@media (max-width: 950px) {
    .previeuw {
           & .previeuwPhone {
            width: 34%;
           } 
        
    }
}

@media (max-width: 800px) {
    .previeuw {
           & .previeuwPhone {
            width: 38%;
           } 
        
    }
}

@media (max-width: 700px) {
    .previeuw {
           & .previeuwPhone {
            width: 41%;
           } 
        
    }
}

@media (max-width: 575px) {
    .previeuw {
           & .previeuwPhone {
            width: 45%;
           } 
        
    }
}

@media (max-width: 425px) {
    .previeuw {
           & .previeuwPhone {
            width: 50%;
           } 
        
    }
}

@media (max-width: 360px) {
    .previeuwButtons {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & .leftButton {
            margin: 0 0 10px 0!important;
        }
    }
}

@media (max-width: 475px) {
    .previeuw {
        & .previeuwNav {
            background-color: white;
        }
    }
}

@media (max-height: 745px) and (max-width: 475px) {
    .previeuw {
        display: flex;
        flex-direction: column;
        align-items: center;
        & .previeuwPhone {
            position: relative;
            top: 0;
            left: 0;
            transform: none;
            z-index: 0;
            margin-top: 30px!important;
        }
    }
}