input:focus {
  box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25) !important;
  border: 1px solid #633CFF !important;
}
input:active {
  box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25) !important;
  border: 1px solid #633CFF !important;
}

.customLinks {
  width: 60%;
  background-color: white;
  box-sizing: border-box;
  padding: 30px 30px;
  border-radius: 8px;
}
.customLinks h1 {
  color: #333;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 48px */
}
.customLinks p {
  color: #737373;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin: 25px 0;
}
.customLinks .addNewLinkButton {
  border-radius: 8px;
  border: 1px solid #633CFF;
  background-color: white;
  padding: 15px 17px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
.customLinks .addNewLinkButton:hover {
  cursor: pointer;
  background-color: #EFEBFF;
}
.customLinks .addNewLinkButton p {
  margin: 0 0;
  color: #633CFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.customLinks .linksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 50px 0 90px 0;
}
.customLinks .linksContainer .linksContainerChild {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.customLinks .linksContainer h1 {
  color: #333;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 48px */
}
.customLinks .linksContainer p {
  color: #737373;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  text-align: center;
}
.customLinks .linksButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.customLinks .linksButton div {
  border-radius: 8px;
  background-color: #633CFF;
  height: 24px;
  color: white;
  padding: 10px 27px;
}
.customLinks .linksButton div:hover {
  cursor: pointer;
  box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
  background-color: #BEADFF;
}

.githubInThePhone {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100% !important;
  height: 100% !important;
  background-color: #1A1A1A !important;
}
.githubInThePhone .githubInThePhoneLeft {
  display: flex;
  align-items: center;
  background-color: #1A1A1A !important;
  margin-left: 20px !important;
}
.githubInThePhone .githubInThePhoneLeft p {
  color: white;
  margin-left: 5px;
}
.githubInThePhone .arrow {
  margin-right: 20px;
}
.githubInThePhone:hover {
  cursor: pointer;
}

.youtubeInThePhone {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100% !important;
  height: 100% !important;
  background-color: #EE3939 !important;
}
.youtubeInThePhone .youtubeInThePhoneLeft {
  display: flex;
  align-items: center;
  background-color: #EE3939 !important;
  margin-left: 20px !important;
}
.youtubeInThePhone .youtubeInThePhoneLeft p {
  color: white;
  margin-left: 5px;
}
.youtubeInThePhone .arrow {
  margin-right: 20px;
}
.youtubeInThePhone:hover {
  cursor: pointer;
}

.facebookInThePhone {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100% !important;
  height: 100% !important;
  background-color: #2442AC !important;
}
.facebookInThePhone .facebookInThePhoneLeft {
  display: flex;
  align-items: center;
  background-color: #2442AC !important;
  margin-left: 20px !important;
}
.facebookInThePhone .facebookInThePhoneLeft p {
  color: white;
  margin-left: 5px;
}
.facebookInThePhone .arrow {
  margin-right: 20px;
}
.facebookInThePhone:hover {
  cursor: pointer;
}

.linkedinInThePhone {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100% !important;
  height: 100% !important;
  background-color: #2D68FF !important;
}
.linkedinInThePhone .linkedinInThePhoneLeft {
  display: flex;
  align-items: center;
  background-color: #2D68FF !important;
  margin-left: 20px !important;
}
.linkedinInThePhone .linkedinInThePhoneLeft p {
  color: white;
  margin-left: 5px;
}
.linkedinInThePhone .arrow {
  margin-right: 20px;
}
.linkedinInThePhone:hover {
  cursor: pointer;
}

.frontendmentorInThePhone {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100% !important;
  height: 100% !important;
  background-color: #FFF !important;
}
.frontendmentorInThePhone .frontendmentorInThePhoneLeft {
  display: flex;
  align-items: center;
  background-color: #FFF !important;
  margin-left: 20px !important;
}
.frontendmentorInThePhone .frontendmentorInThePhoneLeft p {
  color: #333;
  margin-left: 5px;
}
.frontendmentorInThePhone .arrow {
  margin-right: 20px;
}
.frontendmentorInThePhone:hover {
  cursor: pointer;
}

.link {
  margin: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-radius: 12px;
  background: #FAFAFA;
  padding: 20px 30px;
  box-sizing: border-box;
}
.link .linkTop {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.link .linkTop p:hover {
  cursor: pointer;
}
.link .linkInputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.link .linkInputs .linkFirstInput {
  display: flex;
  flex-direction: column;
}
.link .linkInputs .linkFirstInput .platformInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.link .linkInputs .linkFirstInput .platformInput:hover {
  cursor: pointer;
}
.link .linkInputs .linkFirstInput .platformInput div {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}
.link .linkInputs .linkFirstInput .platformInput div p {
  margin: 0 0;
}
.link .linkInputs .linkSecondInput {
  display: flex;
  flex-direction: column;
}
.link .linkInputs .linkSecondInput input {
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  background: #FFF;
  padding: 20px 20px;
}

.togglePlatform {
  display: flex;
  width: 100%;
  margin: 5px 0 25px 0;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.togglePlatform .introListDropDown {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  background: #FFF;
  margin-top: 5px;
}
.togglePlatform .introListDropDown p {
  margin: 15px 0;
  margin-left: 20px;
}
.togglePlatform .introListDropDown:hover {
  box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
}
.togglePlatform svg {
  margin-right: 20px;
}
.togglePlatform ul {
  list-style-type: none;
}
.togglePlatform:hover {
  cursor: pointer;
}
.togglePlatform .ulTogglePlatform {
  position: absolute;
  max-width: -webkit-fill-available;
  top: 100%;
  z-index: 1;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  border-radius: 15px;
  padding: 10px 40px 10px 40px;
}
.togglePlatform .ulTogglePlatform div {
  margin: 10px 0;
  width: 100%;
}
.togglePlatform .ulTogglePlatform div .github {
  display: flex;
  align-items: center;
}
.togglePlatform .ulTogglePlatform div .github svg {
  margin: 0 0;
  width: 16px;
  height: 16px;
}
.togglePlatform .ulTogglePlatform div .facebook {
  display: flex;
  align-items: center;
}
.togglePlatform .ulTogglePlatform div .facebook svg {
  margin: 0 0;
  width: 16px;
  height: 16px;
}
.togglePlatform .ulTogglePlatform div .youtube {
  display: flex;
  align-items: center;
}
.togglePlatform .ulTogglePlatform div .youtube svg {
  margin: 0 0;
  width: 16px;
  height: 16px;
}
.togglePlatform .ulTogglePlatform div .linkedin {
  display: flex;
  align-items: center;
}
.togglePlatform .ulTogglePlatform div .linkedin svg {
  margin: 0 0;
  width: 16px;
  height: 16px;
}
.togglePlatform .ulTogglePlatform div .frontendmentor {
  display: flex;
  align-items: center;
}
.togglePlatform .ulTogglePlatform div .frontendmentor svg {
  margin: 0 0;
  width: 16px;
  height: 16px;
}
.togglePlatform .ulTogglePlatform div p {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: start;
  margin: 0 0 0 10px;
}

.platformLign {
  width: 80%;
  height: 1px;
  background-color: #D9D9D9;
  margin: 7px 0 5px 0 !important;
}

.none {
  display: none;
}

.cannotPass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background-color: #333;
  position: fixed;
  border-radius: 12px;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.1);
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  pointer-events: all;
}
.cannotPass p {
  color: #FAFAFA;
  margin: 0 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.cannotPassActive {
  opacity: 1;
}

.cannotPassDisable {
  opacity: 0;
  display: none;
}

.cannotAdd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background-color: #333;
  position: fixed;
  border-radius: 12px;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.1);
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  pointer-events: all;
}
.cannotAdd p {
  color: #FAFAFA;
  margin: 0 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.cannotAddActive {
  opacity: 1;
}

.cannotAddDisable {
  opacity: 0;
  display: none;
}

.cannotPrevieuw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background-color: #333;
  position: fixed;
  border-radius: 12px;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.1);
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  pointer-events: all;
}
.cannotPrevieuw p {
  color: #FAFAFA;
  margin: 0 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.cannotPrevieuwActive {
  opacity: 1;
}

.cannotPrevieuwDisable {
  opacity: 0;
  display: none;
}

@media (max-width: 1000px) {
  .customLinks {
    width: 90% !important;
  }
}
@media (max-width: 425px) {
  .linksButton div {
    margin: 0 0 25px 0;
    width: 100%;
    display: flex;
    justify-content: center !important;
  }
  .linksContainer {
    margin-bottom: 50px !important;
  }
  .linksContainer h1 {
    font-size: 27px !important;
    margin-bottom: 0 !important;
  }
}
.none {
  display: none !important;
}

.maxHeight {
  max-height: 375px !important;
  overflow-y: auto !important;
}

.linksContainerDiv {
  width: 307px;
  background-color: white;
  border-radius: 40px;
  border: 1px solid #737373;
  padding: 20px 10px;
}
.linksContainerDiv .underLinksContainerDiv {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 40px;
  border: 1px solid #737373;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.linksContainerDiv .underLinksContainerDiv .popContainer {
  width: 96px;
  height: 96px;
  background-color: #EEE;
  margin-top: 50px;
  border-radius: 96px;
}
.linksContainerDiv .underLinksContainerDiv .popContainerFiled {
  border: 4px solid #633CFF;
}
.linksContainerDiv .underLinksContainerDiv .textContainer {
  width: 160px;
  height: 16px;
  background-color: #EEE;
  margin: 20px 0;
  border-radius: 15px;
}
.linksContainerDiv .underLinksContainerDiv .noTextContainer {
  width: auto;
  height: auto;
  background-color: white;
}
.linksContainerDiv .underLinksContainerDiv .noTextContainer p {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
}
.linksContainerDiv .underLinksContainerDiv .littleTextContainer {
  width: 72px;
  height: 8px;
  background-color: #EEE;
  margin-bottom: 10px;
  border-radius: 15px;
}
.linksContainerDiv .underLinksContainerDiv .noLittleTextContainer {
  width: 100%;
  text-align: center;
  height: auto;
  background-color: white;
  overflow: hidden;
}
.linksContainerDiv .underLinksContainerDiv .noLittleTextContainer p {
  box-sizing: border-box;
  color: #737373;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.linksContainerDiv .underLinksContainerDiv .linksInTheContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60%;
}
.linksContainerDiv .underLinksContainerDiv .linksInTheContainer .linkInTheContainer {
  background-color: #EEE;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 237px;
  height: 54px;
  margin: 15px 0;
}

@media (max-width: 1000px) {
  .linksContainerDiv {
    display: none;
  }
}/*# sourceMappingURL=customLinks.module.css.map */